.App {
  text-align: left;
}

.parallax {
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.text-bright {
  color: var(--text-bright);
}

* {
  --text-bright: #06BEE1;
}

/* View Outlines (used for debugging only)
* {
  outline: solid 1px red;
}*/