.App {
  text-align: left;
}

.scroll-indicator {
  background: var(--bs-cyan);
  height: 3px;
  width: 0%;
}

.parallax {
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.text-bright {
  color: var(--bs-cyan);
}

/* View Outlines (used for debugging only)
* {
  outline: solid 1px red;
}*/